<div class="filter-sort-container">
<form [formGroup]="filterSortForm">
    <div class="form-group">
      <label for="category">Category:</label>
      <select id="category" formControlName="category">
        <option value="">All</option>
        <option value="men's clothing">Men's Clothing</option>
        <option value="jewelery">Jewelry</option>
        <option value="electronics">Electronics</option>
        <option value="women's clothing">Women's Clothing</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="sortBy">Sort By:</label>
      <select id="sortBy" formControlName="sortBy">
        <!-- Add option elements for sorting options -->
        <option value="">None</option>
        <option value="priceAsc">Price (Low to High)</option>
        <option value="priceDesc">Price (High to Low)</option>
        <!-- Add more options as needed -->
      </select>
    </div>
  </form>
</div>
  <div class="product-list">
    <div class="product-item" *ngFor="let product of products">
      <app-product-item
        [product]="product"
        (productSelected)="onProductSelected($event)"
      ></app-product-item>
    </div>
  </div>