
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .product-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-link {
    text-decoration: none;
  }
  
  .product-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .product-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
  }
  
  .product-image {
    max-height: 200px; 
    object-fit: contain; 
  }
  
  .product-content {
    padding: 16px;
    flex-grow: 1;
    color: black; 
  }
  
  .product-description {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .product-price {
    margin-top: 8px;
    font-weight: 500 !important;
  }
  
  .product-actions {
    display: flex;
    justify-content: flex-end;
  }
  .mat-mdc-button {
    background-color: #1976d2 !important; 
    color: white !important;
    border-radius: 10px !important;
  }

  .filter-sort-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .filter-sort-container form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter-sort-container select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .filter-sort-container label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .filter-sort-container select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }