<div class="product-details">
    <div class="details-box">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title class="product-title">{{ product.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.image" alt="{{ product.title }}" class="product-image">
        <mat-card-content class="product-content">
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Price: ${{ product.price }}</p>
          <button mat-button color="primary" (click)="addToCart(product)">Add to Cart</button>
        </mat-card-content>
      </mat-card>
      
      <!-- Back to Product List Button -->
      <button mat-button color="primary" (click)="goToProductList()">Back to Product List</button>
    </div>
  </div>