<mat-toolbar color="primary">
    <!-- Left side: Logo and Title -->
    <div class="logo-title">
      <img src="../../assets/images/e-commerce-logo.png" alt="Logo" class="logo">
      <span class="title">E-commerce Portal</span>
    </div>
  
    <!-- Right side: Cart, Login, Logout, Register buttons -->
    <div class="right-buttons">
        <button mat-icon-button class="cart-button" (click)="goToCartPage()">
            <mat-icon>shopping_cart</mat-icon>
          </button>
    <button mat-button class="login-button" (click)="goToLoginPage()">Login</button>
    <button mat-button class="logout-button" (click)="logout()">Logout</button>
    <button mat-button class="register-button" (click)="goToRegisterPage()">Register</button>
    </div>
  </mat-toolbar>
  